#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.transaction-table {
  border: 1px solid #ddd;
  padding: 8px;
}

.action-button {
  margin-left: 0.5em;
  margin-right: 0.5em;
}